<nav>
    <a href="{{ path('home_index') }}">Accueil</a>
    {% if app.user %}
        <a href="{{ path('play_create') }}">Jouer</a>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}">Jouer</a>
        <a href="{{ path('app_register') }}">S'enregistrer</a>
        <a href="{{ path('app_login') }}">Se connecter</a>
    {% endif %}
</nav>